.pageTitle {
  font-size: 35px;
  font-weight: 900;
  text-align: center;
  margin: 40px;
  color: #6b21a8;
}

.cardList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: flex-start;
}

.spinner {
  position: fixed; 
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%); 
  z-index: 9999; 
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 20px;
  /* background-color: green; */
  margin-bottom: 200px;
}

.changePageButton {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  background-color: #6b21a8;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.changePageButton span {
  font-size: 16px;
  font-weight: 500;
}

.changePageButton:hover {
  background-color: #8e44ad;
}

.changePageButton:active {
  transform: scale(0.95);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pageNumber {
  font-size: 18px;
  font-weight: bold;
  color: #6b21a8;
}

@media (min-width: 370px) {
  .cardList {
    width: 370px;
  }
}

@media (min-width: 740px) {
  .cardList {
    width: 740px;
  }
}

@media (min-width: 1110px) {
  .cardList {
    width: 1110px;
  }
}

@media (min-width: 1480px) {
  .cardList {
    width: 1480px;
  }
}